#usersList {
    width: 600px;
}

.table {
    width: 800px;
    margin: 0 auto;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, .3);
}

.btn {
    margin: 20px 20px;
    box-shadow: -.5px 1px 3px rgba(0, 0, 0, .3);
}

tr, td {
    height: 50px;
    padding: 20px 20px;
    border: solid #e8e8e8 1px;
}

th {
    text-align: center;
}

label {
    text-transform: uppercase;
}

.form-horizontal {
    display: none;
    padding: 50px 50px;
    background: #e8e8e8;
    width: 800px;
    margin: 0 auto;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, .3);
}

.formLabel {
    padding-top: 20px;
    text-align: center;
}

thead {
    background: #e8e8e8;
}

#formCreateUser {
    display: none;
}

.error {
    color: #eb0000;
}

#userShowContainer, #formView, #formEdit, #formCreateUser {
    margin-top: 50px;
}

#formEdit, #formCreateUser {
    margin-bottom: 50px;
}

